body{
    background-color: #eebece;
    height: fit-content;
}
.grid-container{
    
   
    
    .col-card-education{
        padding-top: 3vh;
        padding: 20px;
        text-align: right;
        background-color: black;
        margin: 2vw;
        height: 30%;
        
    }
   

    a{
        color: #eebece !important;
    }
     
    h2, p, li{
        color: #eebece;
    }

    h3{
        color: #d8f2dd !important;
    }

    li {
        list-style: none;
    }
    
    img {
        width: 60px;
       
        padding: 5px !important;
    }
  

   
}


